<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <header>
    <% include header.ejs %>
  </header>
  <main>
    <div class="jumbotron">
          <%= obj.name %>
    </div>
  </main>
  <footer>
    <% include footer.ejs %>
  </footer>
</body>

</html>
